*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.section-one{
    background-color: #232323;
    height: 50px;
}
.box{
    padding: 20px 0;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.links , .contact-info{
    color: white;
}
.section-two{
    background-color: white;
    height: 120px;
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
}
.nav-links{
    padding: 10px;
    list-style: none;
}
.nav-links:hover{
    background-color: #8ABA56;
}
.section-three{
    padding-top: 90px;
    background-color: #232323;
    height: 600px;
}
.card{
    background-color: white;
    height: 400px;
    width: 300px;

}
.card-section-one {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #F3F3F3;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.card-section-two{
    width: 100%;
    height: 280px;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-style: italic;
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.card-section-three{
    background-color: #8ABA56;
    text-decoration: none;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.section-four{
    background-color: white;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.col-one {
    position: relative;
    width: 50%;
}
.col-two {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.positioning {
    position: absolute;
    bottom: 4px; 
    left: 0; 
    width: 490px;
    color: white; /* Set text color (assuming you want it to contrast with the image) */
    background-color: gray; /* Add a semi-transparent background to the text */
    padding: 20px; /* Add padding to the text block */
}

.section-five{
    background-color: #F3F3F3;
    height: 400px;
    
    
}
.row-one{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.row-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{
    display: flex;
    width: 45%;
}
.image{
    width: 505px;
}
.description-one , .description-two{
    width: 252px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.description-one{
    background-color: orange;
}
.description-two{
    background-color: aqua;
}
.section-six{
    background-color: #232323;
    height: 300px;
    color: white;
}
.section-seven{
    background-color: #111111;
    height: 50px;
    color: white;
}
.column-one{
    width: 40%;
}
.column-two{
    width: 30%;
}
.column-three{
    width: 30%;
}
